.App {
  text-align: center;
}

h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: medium;
}

.home-heading {
  color: black;
  font-family: "Montserrat", sans-serif;
  size: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.spotify {
  padding-left: 24px;
  height: 40px;
  width: 100%;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.main-cards {
  padding-left: 82px;
}
.home {
  background-image: url("./images/backg.jpg");
  background-repeat: repeat;
  height: 150vh;
  background-size: cover;
}

.home-card {
  margin: 10px;
}
.home-heading {
  padding-top: 20px;
  margin-bottom: 20px;
}
/* .home-body {
  background-color: whitesmoke;
} */

.movie_card {
  display: flex;
  justify-content: center;
  padding: 0 !important;
  width: 18rem;
  height: 32rem;
  margin: 10px 5px 50px 5px;
  border-radius: 10px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
}
.book_card {
  display: flex;
  justify-content: center;
  padding: 0 !important;
  width: 18rem;
  height: 36rem;
  margin: 10px 5px 50px 5px;
  border-radius: 10px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
}
.book-title {
  /* margin-bottom: 20px; */
  color: white;
  height: 6em;
}
.movie-heading {
  display: block;
  color: white;
  background-color: white;
}
.song_card {
  display: flex;
  justify-content: center;
  padding: 0 !important;
  width: 15rem;
  height: 18rem;
  margin: 10px 5px 50px 5px;
  border-radius: 10px;
}

.final_card {
  display: flex;
  justify-content: center;
  padding: 0 !important;
  width: 18rem;
  height: 28rem;
  margin: 10px 5px 50px 5px;
  border-radius: 10px;
  /* box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19); */
}
/* .movie_card:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;

  width: 18.2rem;
  transition-timing-function: ease-out;
} */

/* movie background css */
.movie-cover-img {
  background-size: cover;
  height: 300px;
}
.modal-img {
  width: 18rem;
}
.float-button {
  display: flex;
  position: fixed;
  top: 90%;
  left: 86%;
  width: 170px;
  cursor: pointer;
}

.cards-title {
  color: white;
  height: 2.5em;
}
.button-card-div {
  display: flex;
}
.cards-body {
  background-color: rgb(7, 6, 6);
  /* background-image: linear-gradient(to bottom right, red, yellow); */
}
#customRange2 {
  margin-top: 12px;
}
.rate_current {
  text-align: center;
  align-items: center;
  padding: 6px;
  margin-right: 15px;
  border-radius: 4px;
  color: black;
  background-color: #f6ffa4;
}
.modal-flex {
  display: flex;
  justify-content: space-around;
}
.modal-flex-left {
  margin-right: 10px;
}
.background-css {
  position: fixed;
  left: 0%;
  background-size: cover;
  width: 100vw;
}

.artist_name {
  color: rgb(255, 255, 255);
  size: 200px;
  background-color: white;
}

.song_cards-body {
  /* background-color: rgb(7, 6, 6); */
  background-image: linear-gradient(to bottom right, #3e5151, #decba4);
  /* background-image: linear-gradient(to bottom right, #e6dada, #274046); */
  /* background-image: linear-gradient(to bottom right, #283048, #859398); */
  /* background-image: linear-gradient(to bottom right, #42c2ff, #b8fff9); */
}
.song_card-recommendation {
  display: flex;
  justify-content: center;
  padding: 0 !important;
  width: 15rem;
  height: 18rem;
  margin: 10px 5px 50px 5px;
  border-radius: 10px;
}
.release-year {
  color: white;
}

/* .song_pop{
  width: 30px;
 
} */
.song_popularity {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 220px;
}

#artist {
  background-color: red;
  size: 100 px;
}
